.App {
  font-family: Arial, sans-serif;
}

.App-header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

.App-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  cursor: pointer;
  transition: background-color 0.2s;
}

.App-button:hover {
  background-color: #4fa8d6;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.login-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.login-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #4fa8d6;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.register-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.register-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  cursor: pointer;
  transition: background-color 0.2s;
}

.register-button:hover {
  background-color: #4fa8d6;
}

.App-text-link {
  color: #61dafb;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
  margin-top: 20px;
}

.App-text-link:hover {
  color: #4fa8d6;
  text-decoration: underline;
}